.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.discussionBoard {
  list-style-type: none;
}

.show-grid {
  border: 1px solid lightgrey;
  padding: 10px;
}

.show-grid.viewMesseges {
  background-color: lightgrey;
  height: 75vh;
  overflow: auto;
}

.col-sm-10.messeges {
  text-align: left;
  overflow: auto;
}
.col-sm-2.username {
  text-align: left;
  overflow: auto;
}
