.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.discussionBoard {
  list-style-type: none;
}

.show-grid {
  border: 1px solid lightgrey;
  padding: 10px;
}

.show-grid.kosterbild {
  background-image: url('../Resources/koster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60vh;
}

.show-grid.viewMesseges {
  height: 50vh;
  overflow: auto;
}

.col-sm-10.messeges {
  text-align: left;
  overflow: auto;
}
.col-sm-2.username {
  text-align: right;
  overflow: auto;
}
