.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.discussionBoard {
  list-style-type: none;
}

.show-grid {
  padding: 10px;
}

.show-grid.kosterbild {
  background-image: url('../Resources/koster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.message-container {
  height: 50vh;
  overflow: auto;
  border: 2px solid lightgray;
  background-color: #dedede;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.show-grid.all-messeges {
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 10px;
}

.messeges {
  text-align: left;
  overflow: auto;
  font-family: "Verdana";
  overflow-wrap: break-word;
}

.username {
  text-align: right;
  overflow: auto;
  overflow-wrap: break-word;
}

.dates {
  text-align: right;
  overflow: hidden;
}
